<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 名称空间为接口的全类名 -->
<mapper namespace="com.zc.cris.mybatis.dao.EmployeeMapper">
	<!-- 动态sql标签：
			if
			choose（when，otherwise）
			trim（where，set）
			foreach
	 -->
	 
	 <!-- public List<Employee> findEmpsByConditionForeach(List<Integer> ids); -->
	 <select id="findEmpsByConditionForeach" resultType="com.zc.cris.mybatis.bean.Employee">
	 	select id,name,gender,email 
	 	from tb_employee
	 	<!-- 
	 		collection：指定要遍历的集合
	 			list类型将会被特殊封装在map中，该map 的key就是list
	 		item：将当前遍历出来的元素赋值给指定的变量
	 		#{item}：取出当前遍历的元素
	 		index:遍历list就是索引，一般不使用，
	 				遍历map的时候就是key， item 就是对应的map的 value
	 	 -->
	 	<foreach collection="ids" item="item_id" open="where id in (" close=")" separator=",">
	 		#{item_id}
	 	</foreach>
	 </select>
	 
	 <!-- public void updateEmp(Employee employee); -->
	 <!-- 
	 	set 标签专门用来做数据的更新操作，可以去掉每个if 分支后面的逗号
	 		还可以使用第二种方案：使用trim标签也可以很轻松的完成
	 		只要按照规范来拼接sql语句，我们查询和更新都可以不需要使用trim 标签
	  -->
	 <update id="updateEmp">
	 	update tb_employee e 
<!-- 	 	<set>
		 	<if test="name!=null">
		 	e.name = #{name},
		 	</if>
		 	<if test="email!=null">
		 	e.email = #{email},
		 	</if> 
		 	<if test="gender!=null">
		 	e.gender = #{gender}
		 	</if>
	 	</set> -->
	 	
	 	<trim prefix="set" suffixOverrides=",">
	 		<if test="name!=null">
		 	e.name = #{name},
		 	</if>
		 	<if test="email!=null">
		 	e.email = #{email},
		 	</if> 
		 	<if test="gender!=null">
		 	e.gender = #{gender}
		 	</if>
	 	</trim>
	 	<where>
	 	e.id = #{id}
	 	</where>
	 </update>
	 
	 <!-- 不同于if 标签，choose 标签只会进入满足情况的一种test 标签 -->
	 <!-- public List<Employee> findEmpsByConditionChoose(Employee employee); -->
	 <select id="findEmpsByConditionChoose" resultType="com.zc.cris.mybatis.bean.Employee">
	 	select id,name,gender,email
	 	from tb_employee
	 	<where>
	 		<choose>
	 			<when test="id!=null">
	 				id = #{id}
	 			</when>
	 			<when test="name!=null and name.trim()!=''">
	 				name like #{name}
	 			</when>
	 			<when test="email != null and email.trim()!=''">
	 				email = #{email}
	 			</when>
	 			<otherwise>
	 				gender = 0
	 			</otherwise>
	 		</choose>
	 	
	 	</where>
	 </select>
	 
	 
	 <!-- public List<Employee> findByConditionTrim(Employee employee); -->
	 <select id="findByConditionTrim" resultType="com.zc.cris.mybatis.bean.Employee">
	 	select id,name,gender,email 
	 	from tb_employee 
	 	<!-- 
	 		trim(了解)：可以对trim 标签包裹的sql 语句进行自定义拼接
	 			prefix：给拼串后的sql加上前缀
	 			prefixOverrides：去掉整个字符串前面多余的字符（以符合sql标准）
	 			suffix：给拼串后的sql加上后缀
	 			suffixOverrides：去掉整个字符串后面多余的字符（以符合sql标准）
	 	 -->
	 	<trim prefix="where" prefixOverrides="" suffix="" suffixOverrides="and">
	 	<if test="id!=null">
	 	id = #{id} and
	 	</if>
	 	<if test="name!=null and name.trim()!=''">
	 	name like #{name} and
	 	</if> 
	 	<if test="email!=null &amp;&amp; email.trim()!= &quot;&quot;">
	 	email = #{email} and
	 	</if>
	 	<if test="gender==0 or gender==1">
	 	gender = #{gender}
	 	</if>
	 	</trim>
	 </select>
	 
	 <!-- 
	 	根据查询条件动态拼接sql语句
	 		如果查询条件带有需要的参数，就把这个参数加入到sql语句中，否则就不加入
	 		（将我们以往在业务层的处理逻辑放到了sql语句中进行处理，在专门的sql映射文件中进行sql语句拼接
	 			保持业务层和数据层的纯净）
	 		
	 		如果where 后面的第一个参数为null，那么拼接的sql类似于 select id,name,gender,email from tb_employee where and name like ？
	 			会导致sql 语法错误
	 				解决方案有两种：1. 直接在 where 字句后面添加 1=1
	 							2. 通过mybatis 提供的where 标签将整个查询条件包裹起来
	 								(去掉我们手写的where；并且从第二个查询条件开始，都要以and 开头，推荐使用这种方式)
	 	 -->
	 <!-- public List<Employee> findByConditionIf(Employee employee); -->
	 <select id="findByConditionIf" resultType="com.zc.cris.mybatis.bean.Employee">
	 	select id,name,gender,email 
	 	from tb_employee 
	 	<where>
	 	<!-- test：判断表达式（OGNL） -->
	 	<if test="id!=null">
	 	id = #{id}
	 	</if>
	 	<!-- 可以使用去空格方法 -->
	 	<if test="name!=null and name.trim()!=''">
	 	and name like #{name}
	 	</if> 
	 	<!-- 可以使用转义字符 -->
	 	<if test="email!=null &amp;&amp; email.trim()!= &quot;&quot;">
	 	and email = #{email}
	 	</if>
	 	<!-- 自动进行字符串和数字之间的判断 "0"==0 -->
	 	<if test="gender==0 or gender==1">
	 	and gender = #{gender}
	 	</if>
	 	</where>
	 </select>

</mapper>